.container{
  position: relative;
  overflow: hidden;
  background-color: var(--dark-blue);
}

.content{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

}

@media screen and (max-width: 768px) {
  
}